<!DOCTYPE html>
<html lang="fr">
<head>
  {% block head %}
  <link rel="stylesheet" href="style.css" />
  <title>{% block title %}index{% endblock %} | soupai.re</title>
  <style type="text/css">
    :root {
      --bg-color: #FFF;
      --text-color: #000;
      --link-color: #AAA;
      --font-family: monospace;
      --player-width: 350px;
      --player-height: 300px;
    }

    body,
    html {
      color: var(--text-color);
      background: var(--bg-color);
      font-family: var(--font-family);
    }

    a {
      color: var(--text-color);
    }

    .blogs {
      column-count: 5;
      list-style-type: none;
    }

    .blog {
      break-inside: avoid;
    }

    .player {
      display: inline-block;
      position: relative;
      height: var(--player-height);
      width: var(--player-width);
    }

    .player--audio {
      background-size: cover;
      position: relative;
      background-image: url('https://placekitten.com/300/300');
    }

    /* .player--video {
      height: calc(var(--player-width) * .7);
    } */

    .overlay {
      position: absolute;
      left: 0px;
      top: 0px;
      margin: 10px;
      padding: 5px 5px;
      font-size: 20px;
      background-color: rgba(50, 50, 50, 0.4);
    }

    .overlay a {
      color: #FFF;
      text-decoration: none;
    }

    audio {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    video {
      width: 100%;
      height: 100%;
    }
  </style>
  {% endblock %}
</head>
<body>
  {% block header %}
  <header>
    <h1>{% block headline %}Les meilleurs morceaux de tous les temps, ou au moins dans le top 100 (même juste pendant une semaine){% endblock %}</h1>
    {% block subtitle %}{% endblock %}
  </header>
  {% endblock %}
{% block content %}{% endblock %}
  <footer><p>c'est <a href="https://soupai.re">soupai.re</a></p></footer>
</body>
</html>