{% extends "base.html" %}

{% block title %}{{ blog.title }}{% endblock %}

{% block headline %}{{ blog.title }}{% endblock %}

{% block subtitle %}
<p>
  Publié le <time datetime="{{ blog.posted }}">{{ blog.posted.strftime('%d/%m/%Y') }}</time>
  {% if blog.created %}, sorti en {{ blog.created.strftime('%Y') }}{% endif %}
</p>
{% endblock %}

{% block content %}
<div class="player player--{{ blog.media }}" {% if blog.thumbnail %}style="background-image: url('{{ blog.thumbnail }}');"{% endif %}>
  <{{ blog.media }} src="{{ blog.filename }}" type="{{ blog.mimetype }}" controls>
    <a href="{{ blog.filename }}">télécharger</a>
  </{{ blog.media }}>
</div>
<p>Source: <a href="{{ blog.source }}" rel="external">{{ blog.source }}</a></p>
{% endblock %}