{% extends "base.html" %}

{% block content %}
<ul class="blogs">
  {% for blog in blogs %}
  <li class="blog ">
    <div class="player player--{{ blog.media }}" {% if blog.thumbnail %}style="background-image: url('{{ blog.thumbnail }}');"{% endif %}>
        <div class="overlay"><a href="{{ blog.link }}">{{ blog.title }}</a></div>
        <{{ blog.media }} src="{{ blog.filename }}" type="{{ blog.mimetype }}" controls>
          <a href="{{ blog.filename }}">télécharger</a>
        </{{ blog.media }}>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}